::ng-deep formly-field {
  margin-bottom: 1rem;
}

::ng-deep formly-wrapper-label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}

::ng-deep formly-field-primeng-input input {
  padding: 0.5rem;
  width: 100%;
}

::ng-deep formly-field-primeng-input input.ng-invalid.ng-touched {
  border-color: #dc2626;
}

::ng-deep formly-validation-message {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
