<div class="card">
  <p-table
    #dt
    [columns]="columns()"
    [value]="data()"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear(dt)"
        />
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="handleGlobalFilter($event, dt)"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track $index) { @if(col.sortable){
        <th [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        } @else {
        <th>
          {{ col.header }}
        </th>
        } }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @if(customBodyTemplate()) {
        <ng-container
          *ngTemplateOutlet="
            customBodyTemplate();
            context: { $implicit: rowData, columns: columns }
          "
        ></ng-container
        >} @else {
        <ng-container>
          @for (col of columns; track $index) {
          <td>{{ rowData[col.field] }}</td>
          }
        </ng-container>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
